<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Meera_Academy.Properties.Settings.MeeraConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Meera;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>